.svg-container {
    display: inline-block;
    position: relative;
    width: 50vw;
    height: 50vh;
    margin-top: 10vh;
    margin-bottom: 40vh;
    /* position:fixed;
    overflow:hidden; */
  }
  @media all and (min-width:0px) and (max-width:1023px) {
    .svg-container {
      display: inline-block;
      position: relative;
      width: 100vw;
      height: 50vh;
      margin-top: 15vh;
      margin-bottom: 30vh;
      max-width:100%;
    }
  }

  .svg-content-responsive {
    display: inline-block;
    position: absolute;
  }
  
  .station-text {
    text-shadow: 0 0 #000; /* horizontal-offset vertical-offset 'blur' colour */
    font-size: 7px;
    font-weight: 900;
  }

    