.svg-container {
    display: inline-block;
    position: relative;
    width: 50vw;
    height: 50vh;
    margin-top: 15vh;
    margin-bottom: 40vh;
    /* position:fixed;
    overflow:hidden; */
  }
  @media all and (min-width:0px) and (max-width:1023px) {
    .svg-container {
      display: inline-block;
      position: relative;
      width: 100vw;
      height: 50vh;
<<<<<<< HEAD
      margin-top: 20vh;
      margin-bottom: 30vh;
=======
      margin-top: 14vh;
      margin-bottom: 32vh;
>>>>>>> master
      max-width:100%;
    }
  }

  .svg-content-responsive {
    display: inline-block;
    position: absolute;
  }

    