.App {}

.iknow {
  text-align: center;
  margin-top: 20px;
}

.iknow-btn {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: .5;
}

.map{
  width: 50vw;
  box-sizing: border-box;
  border-right: 1.5px solid black;
}