.svg-container {
    display: inline-block;
    position: relative;
    width: 50vw;
    height: 50vh;
    margin-top: 10vh;
    margin-bottom: 40vh;
    /* position:fixed;
    overflow:hidden; */
  }

    /* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
  @media all and (min-width:768px) and (max-width:1023px) {
    .svg-container {
      display: inline-block;
      position: relative;
      width: 100vw;
      height: 50vh;
      margin-top: 20vh;
      margin-bottom: 30vh;
      max-width:100%;
    }
  }

  /* 테블릿 세로 (해상도 768px ~ 1023px)*/
  @media all and (min-width:768px) and (max-width:1023px) {
    .svg-container {
      display: inline-block;
      position: relative;
      width: 100vw;
      height: 50vh;
      margin-top: 20vh;
      margin-bottom: 30vh;
      max-width:100%;
    }
  }

  /* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
  @media all and (min-width:480px) and (max-width:767px) {
    .svg-container {
      display: inline-block;
      position: relative;
      width: 100vw;
      height: 50vh;
      margin-top: 20vh;
      margin-bottom: 30vh;
      max-width:100%;
    }
  }

  /* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
  @media all and (max-width:479px) {
    .svg-container {
      display: inline-block;
      position: relative;
      width: 100vw;
      height: 50vh;
      margin-top: 20vh;
      margin-bottom: 30vh;
      max-width:100%;
    }
  }

  .svg-content-responsive {
    display: inline-block;
    position: absolute;
  }
  
  .station-text {
    text-shadow: 0 0 #000; /* horizontal-offset vertical-offset 'blur' colour */
    font-size: 7px;
    font-weight: 900;
  }

    