.svg-container {
    
    display: inline-block;
    position: relative;
    width: 100vw;
    height: 100vh;
    vertical-align: top;
    /* position:fixed; */
    overflow:hidden;
  }
  .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .station-text {
    font-size: 6px;
    writing-mode: vertical-lr;
  }
