.window-wrapper {
    position: absolute;
    z-index: 10000;
    width: 80vw;
    height: 90vh;
    box-sizing: border-box;
    border: 1.5px solid black;
    background-color: white;
    margin-top: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all .4s ease;
    position:fixed;
    overflow:auto;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: black;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
    width: 2px;
}

.window-content {
    margin: 0 12px;
}

.close {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0;
    padding-bottom: 50px;
}

.computer {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.answer {
    padding-bottom: 40px;
    font-size: 32px;
    font-weight: 900;
}

.img-stations > img{
    width: 30vw;
    padding: 0 10px 0 0;
}

.input {
    position: relative;
    margin: auto;
    display: flex;
    line-height: 1.3em;
    font-size: 20px;
    font-weight: 500;
    color: white;
    letter-spacing: 0em;
    padding: 10px 30px 10px 30px;
    box-sizing: border-box;
    background-color: black;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    outline: none;
}
